SUPABASE_URL=
SUPABASE_SERVICE_KEY=
SUPABASE_ANON_KEY=
OPENAI_API_KEY=
GOOGLE_API_KEY=
GROQ_API_KEY=
API_SECRET_KEY= # Fill with a long random string (e.g. jPSHR1o+ICdjzjN+qpRjNSjk38vvyU1O3XfarijPuQo=)
