SUPABASE_URL=https://xxxx.supabase.co
SUPABASE_SERVICE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imlkb2F4dXhnbWltZ3hrdGtreGxrIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4MDU5NjE0OSwiZXhwIjoyMDk2MTcyMTQ5fQ.vOe7n0Vd-HsAvFaWk4rhRkmsKeGMveD3o8wXdFfV2VY
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imlkb2F4dXhnbWltZ3hrdGtreGxrIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODA1OTYxNDksImV4cCI6MjA5NjE3MjE0OX0.79th3--YoyNPdiap3m79SdGBP7Wgo2We5VI4CwHFNZI
OPENAI_API_KEY=sk-...
